/* styles.css */
.App {
  text-align: center;
}

h1 {
  color: black; /* Set header color to black */
}

.filter-header {
  font-size: 20px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-align: left;
}

.genre-filter-container {
  width: 77%;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.genre-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: left;
}

button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #e0e0e0;
  color: black;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d4d4d4;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f0f0f0;
}
